* {
    box-sizing: border-box;
    padding: 0;
    margin:0
}
body {
    background-color: grey;
}

.pic img {
    position: absolute;
    height: 250px;
    width: 600px;
    opacity: 0.5;
    top: 0px;

}
.content {
    width:95%;
    display:inline-block;
    margin-left: 20px;
    font-size: 24px;
}
header {
    padding:20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: teal;
    color: white;
}
header h1 {
    display: inline-block;
    font-size: 50px;
    align-items: center;
}
