* {
    box-sizing: border-box;
    padding: 0;
    margin:0
}

body {
    background-image: url("../image/plane.png");
    background-size: cover;
    /* background-color: lightslategray; */
}

.Pic img {
    position: relative;
    height: 400px;
    width: 60%;
    opacity: 0.5;
    top: 0px;
   margin-left: 10%;

}
.Centered {
    position: absolute;
    top: 30%;
    left: 40%;
    transform: translate(-50%, -50%);
    font-size: 36px;
    font-weight: bold;
  }
.content {
    width:95%;
    display:inline-block;
    margin-left: 20px;
    font-size: 24px;
    margin-top: 20px;

}
header {
    padding:20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: teal;
    color: white;
}
header h1 {
    display: inline-block;
    font-size: 50px;
    align-items: center;
}
#form {
    margin-top: 20px;

}
.footer {
    text-align: center;
    top: 90%;
}
#results{
  text-align: center;
}
ul {
    margin-top: 20px;
}


